<body>
    <app-header />
    <section class="bodyd">
        <app-slide-bar />

        <div>
            <div class='registro'  *ngIf="!nuevoRegistro">
                <h1>Administracion de Evaluaciones</h1>
                <button class='btnRegistro' (click)="registroV()">Nuevo registro</button>
            </div>
             <div class='registro'  *ngIf="nuevoRegistro">
                <h1>Administracion de Evaluaciones / Evaluacion</h1>
            </div>
            <app-admin-evaluaciones *ngIf="!nuevoRegistro" />
            <app-admin-evaluaciones-registro *ngIf="nuevoRegistro" (cancel)="registroF()" />
        </div>
    </section>
</body>