:root{
    --grey-50: #f4f4f5;
    --grey-100: #c4c8ca;
    --grey-150: #cecece;
    --grey-200: #939393;
    --grey-250: #69737b;

    --cian-50: #009CDE;
    --cian-100: #016691;

}
body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: 'Varela Round', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
